<% content_for :title, "Welcome to Royal Cirque Publishing" %>
<div id="home-content-banner">
	<div id="featured-content">
		<div id="featured-product">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="0" class="content-table">
							<tr>
								<td class="large-font">
									<div class="gotham-light-forced-long-line">Coming Soon - Please check back shortly</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>