
.sIFR-alternate {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
	float: right;
}

.about-us {
	text-align:left !important;
}

.contact-us {
	text-align:left !important;
}

.contact-us-2 {
	text-align:left !important;
}