<% content_for :title, "Contact Royal Cirque Publishing" %>
<div id="home-content-banner">
	<div id="featured-content" style="background-image: none;background-color: #e5e5e3;">
		<div id="featured-product">
			<div class="row">
				<div class="col-md-12">
					<div class="large-font" style="margin: 10px;">Royal Cirque Publishing</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p style="margin: 10px;">Thank you for stopping by our website.  If you have any questions you can contact us with the form below and we will get back to you shortly.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p style="margin: 10px;">Mail:<br/>PO Box 712151<br/>Salt Lake City, UT 84171</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p style="margin: 10px;">Email:<br/>General inquries and information - <a href="mailto:info@royalcirquepub.com">info@royalcirquepub.com</a><br/>Sales and products - <a href="mailto:sales@royalcirquepub.com">sales@royalcirquepub.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
