<% content_for :title, "Welcome to Royal Cirque Publishing" %>
<div id="home-content-banner">
	<div id="featured-content">
		<div id="featured-product">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="0" class="content-table">
							<tr>
								<td class="large-font">
									<div class="gotham-light-forced-long-line">Royal Cirque Publishing</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="gotham-light">Thank you for stopping by our website.  If you have any questions you can contact us with the form below and we will get back to you shortly.</div>
								</td>
							</tr>
							<tr>
								<td nowrap="true">
									<div class="gotham-light-forced-line">Mail:<br/>PO Box 712151<br/>Salt Lake City, UT 84171
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="gotham-light-forced-long-line">
										Email:<br/>General inquries and information - <a href="mailto:info@royalcirquepub.com">info@royalcirquepub.com</a><br/>Sales and products - <a href="mailto:sales@royalcirquepub.com">sales@royalcirquepub.com</a>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>